<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Shipping Service Baby!</title>
  </head>
  <body>
    <h1>Shipping Service Baby!</h1>

    <form action="/parcels" method="post">
      <label for="description">Add a new parcel</label>
      <input id="description" name="description" type="text">
      <label for="length">Add length</label>
      <input id="length" name="length" type="number">
      <label for="weight">Add weight</label>
      <input id="weight" name="weight" type="number">
      <label for="height">Add height</label>
      <input id="height" name="height" type="number">
      <label for="width">Add width</label>
      <input id="width" name="width" type="number">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
